<div class="row justify-content-lg-center">
    <div class="col-lg-8">
        <div class="card border-dark">
            <div class="card-header">
                <p class="text-uppercase text-center m-0 text-dark h5">Informações gerais</span></p>
            </div>
            <div class="card-body pt-0 pb-0">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th class="border-top-0 w-50" scope="row">Nome:</th>
                                <td class="border-top-0">{{client.name}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Documento:</th>
                                <td>{{client.document}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Idade:</th>
                                <td>{{getAge client.birthday}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Sexo:</th>
                                <td>{{client.sex}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Endereço:</th>
                                <td>{{#if client.address}}
                                    {{client.address}},
                                    {{/if}}
                                    {{#if client.city}}
                                    {{client.city}},
                                    {{/if}}
                                    {{#if client.state}}
                                    {{client.state}}
                                    {{/if}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Telefone:</th>
                                <td>{{client.number}}</td>
                            </tr>
                            <tr>
                                <th scope="row">E-mail:</th>
                                <td>{{client.email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-lg-center mt-3 mb-3">
    <div class="col-lg-8">
        <div class="card border-dark">
            <div class="card-header">
                <p class="text-uppercase text-center m-0 text-dark h5">Estatísticas pessoais</span></p>
            </div>
            <div class="card-body pt-0 pb-0">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th class="border-top-0 w-50" scope="row">Total de dias:</th>
                                <td class="border-top-0">{{getSumOfDays client.checkIns}}</td>
                            </tr>
                            <tr>
                                <th class="border-top-0 w-50" scope="row">Total de pagamentos:</th>
                                <td class="border-top-0">R${{getSumOfPayments client.checkIns}}</td>
                            </tr>
                            <tr>
                                <th class="border-top-0 w-50" scope="row">Média total de diárias:</th>
                                <td class="border-top-0">R${{getTotalMedian client.checkIns}}</td>
                            </tr><tr>
                                <th class="border-top-0 w-50" scope="row">Mês mais visitado:</th>
                                <td class="border-top-0">{{getMostVisitedMonth client.checkIns}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-lg-center mt-3 mb-3">
    <div class="col-lg-8">
        <div class="card border-dark">
            <div class="card-header">
                <p class="text-uppercase text-center m-0 text-dark h5">Check-ins</span></p>
            </div>
            <div class="card-body pb-0">
                <div class="table-responsive">
                    {{#each checkIns}}
                    <div class="row mb-2 no-gutters">
                        <div class="col-2 col-md-1 offset-md-10">
                            <a href="/client/check-in/{{id}}" class="btn btn-secondary"><i class="fas fa-tools"></i></a>
                        </div>
                        <div class="col-2 col-md-1">
                            <form action="/client/check-in-delete/{{id}}?_method=DELETE" method="post">
                                <input type="hidden" name="_method" value="DELETE">

                                <button type="submit" class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>

                        </div>

                    </div>
                    <table class="table table-dark">
                        <tbody>
                            <tr>
                                <th scope="row" class="w-50">Entrada:</th>
                                <td>{{toBrazilianFormat checkin}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Saída:</th>
                                <td>{{toBrazilianFormat checkout}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Pagamento:</th>
                                <td>R${{payment}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Plataforma:</th>
                                <td>{{mean}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Número de hóspedes:</th>
                                <td>{{guests}}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="w-50">Média diária:</th>
                                <td>R${{getIndividualMedian checkout checkin payment}}</td>
                            </tr>
                        </tbody>
                    </table>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>