<div class="row justify-content-lg-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header bg-dark">
                <p class="text-uppercase text-center m-0 text-light">Editar informações de <span class="h5">{{client.name}}</span></p>
            </div>
            <div class="card-body">
                <form action="/client/{{client.id}}?_method=PUT" method="post">
                    <input type="hidden" name="_method" value="PUT" />
                    <div class="form-group">
                        <label for="address">Endereço</label>
                        <input type="text" name="address" class="form-control" value="{{client.address}}">
                    </div>
                    <div class="form-row mb-3">
                        <div class="col">
                            <label for="city">Cidade</label>
                            <input type="text" name="city" class="form-control" value="{{client.city}}">
                        </div>
                        <div class="col">
                            <label for="state">Estado</label>
                            <select size="1" class="form-control" name="state">
                                <option selected="selected">{{client.state}}</option>
                                <option>AC</option>
                                <option>AL</option>
                                <option>AP</option>
                                <option>AM</option>
                                <option>BA</option>
                                <option>CE</option>
                                <option>DF</option>
                                <option>ES</option>
                                <option>GO</option>
                                <option>MA</option>
                                <option>MT</option>
                                <option>MS</option>
                                <option>MG</option>
                                <option>PA</option>
                                <option>PB</option>
                                <option>PR</option>
                                <option>PE</option>
                                <option>PI</option>
                                <option>RJ</option>
                                <option>RN</option>
                                <option>RS</option>
                                <option>RO</option>
                                <option>RR</option>
                                <option>SC</option>
                                <option>SP</option>
                                <option>SE</option>
                                <option>TO</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="number">Telefone</label>
                        <input type="text" name="number" class="form-control" value="{{client.number}}">
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" class="form-control" value="{{client.email}}">
                    </div>
                    <div class="float-right">
                        <a href="/" class="btn btn-danger mr-2 ">Cancelar</a>
                        <button type="submit" class="btn btn-success ">Editar</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>