{{#each clients}}
<div class="card mb-3">
    <div class="card-header bg-dark">
        <div class="row d-flex align-items-center">
            <div class="col">
                <p class="h5 text-uppercase text-center m-0 text-light">{{name}}</p>
            </div>
            <div class="col-lg-1 px-1 ml-auto mt-2 mt-lg-0">
                <a href="/client/edit/{{id}}" class="btn btn-outline-secondary btn-block">Editar</a>
            </div>
            <div class="col-lg-1 px-1 mt-2 mt-lg-0">
                <a href="/client/check-in/{{id}}" class="btn btn-outline-success btn-block px-0">Check-In</a>
            </div>
            <div class="col-lg-1 px-1 mt-2 mt-lg-0">
                <a href="/client/delete/{{id}}" class="btn btn-outline-danger btn-block px-0">Deletar</a>
            </div>
        </div>

    </div>
    <div class="card-body pt-0 pb-0">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Documento</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Nascimento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{document}}</td>
                        <td>{{email}}</td>
                        <td>{{birthday}}</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th scope="col">Sexo</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">Telefone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{sex}}</td>
                        <td>{{city}}, {{state}}</td>
                        <td>{{number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{else}}
<p>Você ainda não cadastrou nenhum cliente</p>
{{/each}}